@import 'definitions';

.container {
  @include legibility-shadow;

  margin: 0;

  padding: 5rem 0 2rem;
  text-align: center;

  h2 {
    margin: 0 0 0.5em;

    text-transform: uppercase;
    font: {
      family: $typeface-head;
      weight: 700;
      size: 2rem;
    }
  }

  span {
    font: {
      family: $typeface-text;
      weight: 800;
    };

    &::selection {
      background-color: $color-text-lightest;
    }
  }
}

.progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 0 2rem;

  figure {
    margin: 0;

    text-align: center;

    span {
      color: $color-text-black;

      letter-spacing: 0.07em;

      font: {
        family: $typeface-text;
        weight: 800;
        size: 3rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    figcaption {
      margin-top: 0.25rem;

      color: $color-text-lightest;

      font: {
        family: $typeface-head;
        weight: 600;
        size: 0.9rem;
      }
    }
  }
}

.indicator {
  min-width: 200px;
  margin: 2rem;
}

.indicator-arc {
// animation css is being applied inside the class component; see ProgressIndicator's componentDidMount() method
}
