$color-background: #fff;
$color-field-border: rgba(255, 255, 255, 0.7);
$color-field-background-dark: rgba(0, 0, 0, 0.2);


$color-text-white: #fff;
$color-text-black: #374355;
$color-text-highlight: #007fac; // passes AA
$color-text-lightest: #767676; // passes AA @16px; AAA @20px bold

$color-accent: #f8951f;
$color-error: #922c28;
$color-highlight: #00acea;
$color-blue-background: #00a3dc;

$color-pale-line-white: rgba(255, 255, 255, 0.4);
$color-pale-line-black: rgba(0, 0, 0, 0.1);

$background-gradient: linear-gradient(to right, transparent, #00c2e9 45%, #00c2e9 55%, transparent);
